<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ksbc234</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index1.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.KSBC.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration1</servlet-name>
    <servlet-class>com.KSBC.Servlet.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration1</servlet-name>
    <url-pattern>/Registration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration2</servlet-name>
    <servlet-class>com.KSBC.Servlet.RegistrationForm1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration2</servlet-name>
    <url-pattern>/Registration2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration2JSP</servlet-name>
    <jsp-file>/RegistrationForm1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration2JSP</servlet-name>
    <url-pattern>/Registration2JSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationForm3</servlet-name>
    <servlet-class>com.KSBC.Servlet.RegistrationForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationForm3</servlet-name>
    <url-pattern>/RegistrationForm3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.KSBC.Servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DomainLogin</servlet-name>
    <servlet-class>com.KSBC.Servlet.DomainLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomainLogin</servlet-name>
    <url-pattern>/DomainLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.KSBC.Servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KARLogin</servlet-name>
    <servlet-class>com.KSBC.Servlet.KARLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KARLogin</servlet-name>
    <url-pattern>/KARLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.KSBC.Servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServletForChallan</servlet-name>
    <servlet-class>com.KSBC.Servlet.UploadServletForChallan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletForChallan</servlet-name>
    <url-pattern>/UploadServletForChallan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KARNumberImageServlet</servlet-name>
    <servlet-class>com.KSBC.Servlet.KARNumberImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KARNumberImageServlet</servlet-name>
    <url-pattern>/KARNumberImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationLogin</servlet-name>
    <servlet-class>com.KSBC.Servlet.RegistrationLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationLogin</servlet-name>
    <url-pattern>/RegistrationLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginActivator</servlet-name>
    <servlet-class>com.KSBC.Servlet.LoginActivator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginActivator</servlet-name>
    <url-pattern>/LoginActivator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpForKSBC</servlet-name>
    <servlet-class>com.KSBC.Servlet.SignUpForKSBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpForKSBC</servlet-name>
    <url-pattern>/SignUpForKSBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileUpload</servlet-name>
    <jsp-file>/RegistrationForm3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>/KARSignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignU</servlet-name>
    <servlet-class>com.KSBC.Servlet.KARLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignU</servlet-name>
    <url-pattern>/KARLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KAWF</servlet-name>
    <servlet-class>com.KSBC.Servlet.KAWFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KAWF</servlet-name>
    <url-pattern>/KAWF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OfflineLineFormCreation</servlet-name>
    <servlet-class>com.KSBC.Servlet.OfflineLineFormCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfflineLineFormCreation</servlet-name>
    <url-pattern>/OfflineLineFormCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnrollemntGenreationForServlet</servlet-name>
    <servlet-class>com.KSBC.Servlet.EnrollemntGenreationForServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollemntGenreationForServlet</servlet-name>
    <url-pattern>/EnrollemntGenreationForServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateAllCandidateKAR</servlet-name>
    <servlet-class>com.KSBC.Servlet.GenerateAllCandidateKAR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateAllCandidateKAR</servlet-name>
    <url-pattern>/GenerateAllCandidateKAR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OfflineFileImageUpload</servlet-name>
    <servlet-class>com.KSBC.Servlet.OfflineFileImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfflineFileImageUpload</servlet-name>
    <url-pattern>/OfflineFileImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KARListCreate</servlet-name>
    <servlet-class>com.KSBC.Servlet.KARListCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KARListCreate</servlet-name>
    <url-pattern>/KARListCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KAWFMiscReceipt</servlet-name>
    <servlet-class>com.KSBC.Servlet.KAWFMiscReceipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KAWFMiscReceipt</servlet-name>
    <url-pattern>/KAWFMiscReceipt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BCI_FDS</servlet-name>
    <servlet-class>com.KSBC.Servlet.BCI_FDS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BCI_FDS</servlet-name>
    <url-pattern>/BCI_FDS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnrollmentNewMember</servlet-name>
    <servlet-class>com.KSBC.Servlet.EnrollmentNewMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentNewMember</servlet-name>
    <url-pattern>/EnrollmentNewMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KAWFLateWelfareFund</servlet-name>
    <servlet-class>com.KSBC.Servlet.KAWFLateWelfareFund</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KAWFLateWelfareFund</servlet-name>
    <url-pattern>/KAWFLateWelfareFund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KSBCMiscReports</servlet-name>
    <servlet-class>com.KSBC.Servlet.KSBCMiscReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KSBCMiscReports</servlet-name>
    <url-pattern>/KsbcMiscReciept</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>IndividualStamp</servlet-name>
    <servlet-class>com.KSBC.Servlet.IndividualStamp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualStamp</servlet-name>
    <url-pattern>/IndividualStamp</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <servlet-name>AssociationStamp</servlet-name>
    <servlet-class>com.KSBC.Servlet.AssociationStamp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssociationStamp</servlet-name>
    <url-pattern>/AssociationStamp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EnrollmentPhotoFetching</servlet-name>
    <servlet-class>com.KSBC.Servlet.EnrollmentPhotoFetching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentPhotoFetching</servlet-name>
    <url-pattern>/EnrollmentPhotoFetching</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>ImageFetching</servlet-name>
    <servlet-class>com.KSBC.Servlet.ImageFetching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageFetching</servlet-name>
    <url-pattern>/ImageFetching</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EnrollmentImageViewer</servlet-name>
    <servlet-class>com.KSBC.Servlet.EnrollmentImageViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentImageViewer</servlet-name>
    <url-pattern>/EnrollmentImageViewer</url-pattern>
  </servlet-mapping>
  
</web-app>